.form-group{
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.form-group input{
    border: 5px solid #D6F0E2;
}

#result1{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
}
#result2{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
    color: #FDC800;
}
#result3{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
    color: #0D3ECC;
}
#result4{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
    color: #B1D7AA;
}
#result5{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
    color: #1D3729;
}
#result6{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
    color: #1D3729;
}
#result7{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
    color: #009F4D;
}
#result9{
    padding-left: 100px;
    margin-top: 30px;
    font-weight: 500;
    color: #646f9e;
}
#infor_arrayFloat{
    padding-left: 100px;
    
    font-weight: 500;
    color: #3cb45c;
}
.item__top{
    height: 170px;
}
.item{
    display: flex;
    width: 50%;
    /* margin: auto; */
    text-align: center;
    font-size: 25px;
    font-weight: 600;

}
#infor_arrayFloat{
    padding-top: 40px;
}


.item input{
 border: 5px solid #566b9c
}
.item button{
    height: 35px;
    margin-top: 38px;
    margin-left: 30px;
    font-weight: 600
}